In [13]:
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [2]:
df = pd.read_csv("train.csv")
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0

In [3]:
df['question1str'] = df['question1'].apply(str)
df['question2str'] = df['question2'].apply(str)
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...

In [4]:
from nltk.tokenize import word_tokenize
df['q1_tokens'] = df['question1str'].apply(word_tokenize)
df['q2_tokens'] = df['question2str'].apply(word_tokenize)
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str,q1_tokens,q2_tokens
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,"[What, is, the, step, by, step, guide, to, inv...","[What, is, the, step, by, step, guide, to, inv..."
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,"[What, is, the, story, of, Kohinoor, (, Koh-i-...","[What, would, happen, if, the, Indian, governm..."

In [5]:
def lower(text):
    text = [w.lower() for w in text]
    return text

In [6]:
df['q1_lower'] = df['q1_tokens'].apply(lower)
df['q2_lower'] = df['q2_tokens'].apply(lower)
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str,q1_tokens,q2_tokens,q1_lower,q2_lower
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,"[What, is, the, step, by, step, guide, to, inv...","[What, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv..."
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,"[What, is, the, story, of, Kohinoor, (, Koh-i-...","[What, would, happen, if, the, Indian, governm...","[what, is, the, story, of, kohinoor, (, koh-i-...","[what, would, happen, if, the, indian, governm..."

In [7]:
def remove_stop(text):
    stop_words = set(stopwords.words('english'))
    words = [w for w in text if not w in stop_words]
    return words

In [8]:
df['q1_no_stop'] = df['q1_lower'].apply(remove_stop)
df['q2_no_stop'] = df['q2_lower'].apply(remove_stop)
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str,q1_tokens,q2_tokens,q1_lower,q2_lower,q1_no_stop,q2_no_stop
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,"[What, is, the, step, by, step, guide, to, inv...","[What, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...","[step, step, guide, invest, share, market, ind...","[step, step, guide, invest, share, market, ?]"
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,"[What, is, the, story, of, Kohinoor, (, Koh-i-...","[What, would, happen, if, the, Indian, governm...","[what, is, the, story, of, kohinoor, (, koh-i-...","[what, would, happen, if, the, indian, governm...","[story, kohinoor, (, koh-i-noor, ), diamond, ?]","[would, happen, indian, government, stole, koh..."

In [9]:
def remove_punc(text):
    words = [w for w in text if not w in string.punctuation]
    return words

In [10]:
df['q1_no_punc'] = df['q1_no_stop'].apply(remove_punc)
df['q2_no_punc'] = df['q2_no_stop'].apply(remove_punc)
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str,q1_tokens,q2_tokens,q1_lower,q2_lower,q1_no_stop,q2_no_stop,q1_no_punc,q2_no_punc
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,"[What, is, the, step, by, step, guide, to, inv...","[What, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...","[step, step, guide, invest, share, market, ind...","[step, step, guide, invest, share, market, ?]","[step, step, guide, invest, share, market, india]","[step, step, guide, invest, share, market]"
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,"[What, is, the, story, of, Kohinoor, (, Koh-i-...","[What, would, happen, if, the, Indian, governm...","[what, is, the, story, of, kohinoor, (, koh-i-...","[what, would, happen, if, the, indian, governm...","[story, kohinoor, (, koh-i-noor, ), diamond, ?]","[would, happen, indian, government, stole, koh...","[story, kohinoor, koh-i-noor, diamond]","[would, happen, indian, government, stole, koh..."

In [11]:
def stem(text):
    ps = PorterStemmer()
    words = [ps.stem(w) for w in text]
    return words

In [12]:
df['q1_stem'] = df.q1_no_punc.apply(stem)
df['q2_stem'] = df.q2_no_punc.apply(stem)
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str,q1_tokens,q2_tokens,q1_lower,q2_lower,q1_no_stop,q2_no_stop,q1_no_punc,q2_no_punc,q1_stem,q2_stem
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,"[What, is, the, step, by, step, guide, to, inv...","[What, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...","[step, step, guide, invest, share, market, ind...","[step, step, guide, invest, share, market, ?]","[step, step, guide, invest, share, market, india]","[step, step, guide, invest, share, market]","[step, step, guid, invest, share, market, india]","[step, step, guid, invest, share, market]"
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,"[What, is, the, story, of, Kohinoor, (, Koh-i-...","[What, would, happen, if, the, Indian, governm...","[what, is, the, story, of, kohinoor, (, koh-i-...","[what, would, happen, if, the, indian, governm...","[story, kohinoor, (, koh-i-noor, ), diamond, ?]","[would, happen, indian, government, stole, koh...","[story, kohinoor, koh-i-noor, diamond]","[would, happen, indian, government, stole, koh...","[stori, kohinoor, koh-i-noor, diamond]","[would, happen, indian, govern, stole, kohinoo..."

In [14]:
df = pd.read_csv('train_stem.csv')

In [28]:
df.q2_stem[25]

"['tip', 'make', 'job', 'interview', 'process', 'foundat', 'medicin']"